RazorRun
eos
plots*
NormalizeNtuple
SkimNtuple
*.o
*.root
*.so
*.pdf
*.pyc
rootdict.*
condor/*
*.condor
*.swp
python/lib/*
tmp.txt
*.*~
output/*
output2
*.d
dummy*
test.*
*.pcm
*.csv
.__*
*.tex
*.gif
*.png
