
[DiJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[500.,600.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[600.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = [#'MR0[6.]', 'R0[6.]', 'MRMR0[0.1]', 'RMR0[1.]','RR0[1.]','alpha[1.0]',
	      'MR0[370.]', 'R0[220.]', 'MRMR0[-40.]', 'RMR0[98.]','RR0[-1.6]','alpha[0.5]',
              #'MR0[-300]', 'R0[-0.25]', 'b[1.]', 'n[3.]',
              'R1[0.9]', 'R2[0.03]',
              'Ntot[2501.]']
		 
pdfs = ['RooRazorGenTail::razor2dPdf(MR,Rsq,MR0,R0,MRMR0,RMR0,RR0,alpha)',
        #'RooRazor2DTail_SYS::razor2dPdf(MR,Rsq,MR0,R0,b,n)',
	'RooSigmoid::rsqPdf(Rsq,R1,R2)',
	'PROD::razor2dPdf_turnoff(razor2dPdf,rsqPdf)',
	#'SUM::extRazorPdf(Ntot*razor2dPdf_turnoff)',
	'SUM::extRazorPdf(Ntot*razor2dPdf)']


combine_parameters = ['DiJet_TTj0b_norm[1.,0.,+INF]',
		      'DiJet_TTj1b_norm[1.,0.,+INF]',
		      'DiJet_TTj2b_norm[1.,0.,+INF]',
           	      'DiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_DiJet[2501.]', 'Ntot_TTj1b_DiJet[200.]', 'Ntot_TTj2b_DiJet[100.]', 'Ntot_TTj3b_DiJet[50.]',
	   	      'MRCut_DiJet[500.]','RCut_DiJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',		      
	      	      'MR0[370.]', 'R0[220.]', 'MRMR0[-40.]', 'RMR0[98.]','RR0[-1.6]','alpha[0.5]',]
		      
combine_pdfs = ['RooRazorGenTailBin::DiJet_TTj0b(th1x,MR0,R0,MRMR0,RMR0,RR0,alpha,MRCut_DiJet,RCut_DiJet,BtagCut_TTj0b)',
	        #'RooRazorGenTailBin::DiJet_TTj1b(th1x,MR0,R0,MRMR0,RMR0,RR0,alpha,MRCut_DiJet,RCut_DiJet,BtagCut_TTj1b)',
		#'RooRazorGenTailBin::DiJet_TTj2b(th1x,MR0,R0,MRMR0,RMR0,RR0,alpha,MRCut_DiJet,RCut_DiJet,BtagCut_TTj2b)',
	   	#'RooRazorGenTailBin::DiJet_TTj3b(th1x,MR0,R0,MRMR0,RMR0,RR0,alpha,MRCut_DiJet,RCut_DiJet,BtagCut_TTj3b)',
		#'SUM::extRazorPdf(Ntot_TTj0b_DiJet*DiJet_TTj0b,Ntot_TTj1b_DiJet*DiJet_TTj1b,Ntot_TTj2b_DiJet*DiJet_TTj2b,Ntot_TTj3b_DiJet*DiJet_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_DiJet*DiJet_TTj0b)']
	
#signal and plotting binning
signal_MR =  [500, 600, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,4.]
	