[MultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[1.,1.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[1.,4.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'R1_TTj1b[0.87,0.25,1.5]', 'R2_TTj1b[0.06,0,+INF]',
              'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,1)',
	'RooSigmoid::rsqPdf_TTj1b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj2b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj3b(Rsq,R1_TTj1b,R2_TTj1b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,rsqPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,rsqPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,rsqPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['MultiJet_TTj1b_norm[1.,0.,+INF]',
		      'MultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'MultiJet_TTj3b_norm[1.,0.,+INF]',
	   	      'MRCut_MultiJet[400.]','RCut_MultiJet[0.25]',
	   	      'BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
	   	      'MR0_TTj1b_MultiJet[-900.05]', 'R0_TTj1b_MultiJet[-0.7]', 'b_TTj1b_MultiJet[1.4]', 'n_TTj1b_MultiJet[3.7]',
           	      'MR0_TTj2b_MultiJet[-480.84]', 'R0_TTj2b_MultiJet[-0.5]', 'b_TTj2b_MultiJet[1.6]', 'n_TTj2b_MultiJet[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_TTj1b(th1x,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj1b,emptyHist3D)',
		'RooRazor3DBinPdf::MultiJet_TTj2b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj2b,emptyHist3D)',
	   	'RooRazor3DBinPdf::MultiJet_TTj3b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj3b,emptyHist3D)']
	
#signal and plotting binning
#signal_MR =  [400, 450, 500, 550, 600, 650, 700, 800, 900, 1000, 1200, 1600, 2000, 2500, 4000]
#signal_Rsq = [0.25,0.30,0.35,0.41,0.52,0.64,0.80,1.1,1.5]
#signal_nBtag = [1.,2.,3.,4.]
signal_MR =  [400, 500, 600, 700, 900, 1200, 1600, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [1.,2.,3.,4.]

[LooseLeptonMultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[1.,1.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,4.]',
		   'MR_LowMR[400.,500.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,4.]',
		   'MR_HighMR[500.,4000.]','Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[1.,4.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]','b_TTj1b[1.4]','n_TTj1b[3.7]',
	      # full fit:
              #'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
	      # sideband fit:
	      'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[3.]',
              'R1_TTj1b[0.87,0.25,1.5]', 'R2_TTj1b[0.06,0,+INF]',
              'Ntot_TTj1b[600.]','Ntot_TTj2b[260.]','Ntot_TTj3b[40.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,1)',
	'RooSigmoid::rsqPdf_TTj1b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj2b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj3b(Rsq,R1_TTj1b,R2_TTj1b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['LooseLeptonMultiJet_TTj1b_norm[1.,0.,+INF]',
           	      'LooseLeptonMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'LooseLeptonMultiJet_TTj3b_norm[1.,0.,+INF]',
	   	      'MRCut_LooseLeptonMultiJet[400.]','RCut_LooseLeptonMultiJet[0.25]',
	   	      'BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
	   	      'MR0_TTj1b_LooseLeptonMultiJet[-900.05]', 'R0_TTj1b_LooseLeptonMultiJet[-0.7]', 'b_TTj1b_LooseLeptonMultiJet[1.4]', 'n_TTj1b_LooseLeptonMultiJet[3.7]',
           	      'MR0_TTj2b_LooseLeptonMultiJet[-480.84]', 'R0_TTj2b_LooseLeptonMultiJet[-0.5]', 'b_TTj2b_LooseLeptonMultiJet[1.6]', 'n_TTj2b_LooseLeptonMultiJet[4.]']

combine_pdfs = ['RooRazor3DBinPdf::LooseLeptonMultiJet_TTj1b(th1x,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b,MRCut_LooseLeptonMultiJet,RCut_LooseLeptonMultiJet,BtagCut_TTj1b,emptyHist3D)',
		'RooRazor3DBinPdf::LooseLeptonMultiJet_TTj2b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_LooseLeptonMultiJet,RCut_LooseLeptonMultiJet,BtagCut_TTj2b,emptyHist3D)',
	   	'RooRazor3DBinPdf::LooseLeptonMultiJet_TTj3b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_LooseLeptonMultiJet,RCut_LooseLeptonMultiJet,BtagCut_TTj3b,emptyHist3D)']
	
#signal and plotting binning
#signal_MR =  [400, 450, 500, 550, 600, 650, 700, 800, 900, 1000, 1200, 1600, 2000, 2500, 4000]
#signal_Rsq = [0.25,0.30,0.35,0.41,0.52,0.64,0.80,1.1,1.5]
#signal_nBtag = [1.,2.,3.,4.]
signal_MR =  [400, 500, 600, 700, 900, 1200, 1600, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [1.,2.,3.,4.]

[DiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[1.,1.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,4.]',
		   'MR_LowMR[400.,500.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,4.]',
		   'MR_HighMR[500.,4000.]','Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[1.,4.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]','b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'R1_TTj1b[0.87,0.25,1.5]', 'R2_TTj1b[0.06,0,+INF]',
              'Ntot_TTj1b[1500.]','Ntot_TTj2b[700.]','Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,1)',
	'RooSigmoid::rsqPdf_TTj1b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj2b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj3b(Rsq,R1_TTj1b,R2_TTj1b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['DiJet_TTj1b_norm[1.,0.,+INF]',
		      'DiJet_TTj2b_norm[1.,0.,+INF]',
           	      'DiJet_TTj3b_norm[1.,0.,+INF]',
	   	      'MRCut_DiJet[400.]','RCut_DiJet[0.25]',
	   	      'BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
	   	      'MR0_TTj1b_DiJet[-900.05]', 'R0_TTj1b_DiJet[-0.7]', 'b_TTj1b_DiJet[1.4]', 'n_TTj1b_DiJet[3.7]',
           	      'MR0_TTj2b_DiJet[-480.84]', 'R0_TTj2b_DiJet[-0.5]', 'b_TTj2b_DiJet[1.6]', 'n_TTj2b_DiJet[4.]']
	   
combine_pdfs = ['RooRazor3DBinPdf::DiJet_TTj1b(th1x,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b,MRCut_DiJet,RCut_DiJet,BtagCut_TTj1b,emptyHist3D)',
		'RooRazor3DBinPdf::DiJet_TTj2b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_DiJet,RCut_DiJet,BtagCut_TTj2b,emptyHist3D)',
		'RooRazor3DBinPdf::DiJet_TTj3b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_DiJet,RCut_DiJet,BtagCut_TTj3b,emptyHist3D)']
	
#signal and plotting binning
#signal_MR =  [400, 450, 500, 550, 600, 650, 700, 800, 900, 1000, 1200, 1600, 2000, 2500, 4000]
#signal_Rsq = [0.25,0.30,0.35,0.41,0.52,0.64,0.80,1.1,1.5]
#signal_nBtag = [1.,2.,3.,4.]
signal_MR =  [400, 500, 600, 700, 900, 1200, 1600, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [1.,2.,3.,4.]

[MuMultiJet]
variables = ['MR[300.,300.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[1.,1.,4.]']

variables_range = ['MR_LowRsq[300.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		   'MR_LowMR[300.,400.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		   'MR_HighMR[300.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[1.,4.]']
		
parameters = ['MR0_TTj1b[-2000]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.]', 'n_TTj2b[3.]',
              'R1_TTj1b[0.87,0.25,1.5]', 'R2_TTj1b[0.06,0,+INF]',
              'Ntot_TTj1b[21000.]', 'Ntot_TTj2b[11000.]', 'Ntot_TTj3b[1500.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,1)',
	'RooSigmoid::rsqPdf_TTj1b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj2b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj3b(Rsq,R1_TTj1b,R2_TTj1b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['MuMultiJet_TTj1b_norm[1.,0.,+INF]',
           	      'MuMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'MuMultiJet_TTj3b_norm[1.,0.,+INF]',
	   	      'MRCut_MuMultiJet[300.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.7]',
           	      'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.6]', 'n_TTj2b_MuMultiJet[4.]']
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b,emptyHist3D)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b,emptyHist3D)',
	   	'RooRazor3DBinPdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b,emptyHist3D)']
	
#signal and plotting binning
#signal_MR =  [300, 350, 400, 450, 500, 550, 600, 650, 700, 800, 900, 1000, 1200, 1600, 2000, 2500, 4000]
#signal_Rsq = [0.15, 0.20,0.25,0.30,0.35,0.41,0.52,0.64,0.80,1.1,1.5]
#signal_nBtag = [1.,2.,3.,4.]
signal_MR =  [300, 400, 500, 600, 700, 900, 1200, 1600, 4000]
signal_Rsq = [0.15,0.20,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [1.,2.,3.,4.]


[EleMultiJet]
variables = ['MR[300.,300.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[1.,1.,4.]']

variables_range = ['MR_LowRsq[300.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		   'MR_LowMR[300.,400.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		   'MR_HighMR[400.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[1.,4.]']
		
parameters = [# full:
	      #'MR0_TTj1b[-3000.05]', 'R0_TTj1b[-1.4]', 'b_TTj1b[1.3]','n_TTj1b[3.3]',
	      # sideband:
	      'MR0_TTj1b[-2300.05]', 'R0_TTj1b[-0.4]', 'b_TTj1b[1.]','n_TTj1b[3.]',
	      'MR0_TTj2b[-2480.84]', 'R0_TTj2b[-1.2]', 'b_TTj2b[2.]', 'n_TTj2b[5.]',
              'R1_TTj1b[0.87,0.25,1.5]', 'R2_TTj1b[0.06,0,+INF]',
              'Ntot_TTj1b[20000.]', 'Ntot_TTj2b[10000.]', 'Ntot_TTj3b[1300.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,1)',
	'RooSigmoid::rsqPdf_TTj1b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj2b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj3b(Rsq,R1_TTj1b,R2_TTj1b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['EleMultiJet_TTj1b_norm[1.,0.,+INF]',
           	      'EleMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'EleMultiJet_TTj3b_norm[1.,0.,+INF]',
	   	      'MRCut_EleMultiJet[300.]','RCut_EleMultiJet[0.15]',
	   	      'BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj1b_EleMultiJet[-900.05]', 'R0_TTj1b_EleMultiJet[-0.7]', 'b_TTj1b_EleMultiJet[1.4]', 'n_TTj1b_EleMultiJet[3.7]',
           	      'MR0_TTj2b_EleMultiJet[-480.84]', 'R0_TTj2b_EleMultiJet[-0.5]', 'b_TTj2b_EleMultiJet[1.6]', 'n_TTj2b_EleMultiJet[4.]']
combine_pdfs = ['RooRazor3DBinPdf::EleMultiJet_TTj1b(th1x,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj1b,emptyHist3D)',
		'RooRazor3DBinPdf::EleMultiJet_TTj2b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj2b,emptyHist3D)',
	   	'RooRazor3DBinPdf::EleMultiJet_TTj3b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj3b,emptyHist3D)']
	
#signal and plotting binning
#signal_MR =  [300, 350, 400, 450, 500, 550, 600, 650, 700, 800, 900, 1000, 1200, 1600, 2000, 2500, 4000]
#signal_Rsq = [0.15, 0.20,0.25,0.30,0.35,0.41,0.52,0.64,0.80,1.1,1.5]
#signal_nBtag = [1.,2.,3.,4.]
signal_MR =  [300, 400, 500, 600, 700, 900, 1200, 1600, 4000]
signal_Rsq = [0.15,0.20,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [1.,2.,3.,4.]


[MuJet]
variables = ['MR[300.,300.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[1.,1.,4.]']

variables_range = ['MR_LowRsq[300.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		   'MR_LowMR[300.,400.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		   'MR_HighMR[300.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[1.,4.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'R1_TTj1b[0.87,0.25,1.5]', 'R2_TTj1b[0.06,0,+INF]',
              'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,1)',
	'RooSigmoid::rsqPdf_TTj1b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj2b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj3b(Rsq,R1_TTj1b,R2_TTj1b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['MuJet_TTj1b_norm[1.,0.,+INF]',
           	      'MuJet_TTj2b_norm[1.,0.,+INF]',
           	      'MuJet_TTj3b_norm[1.,0.,+INF]',
	   	      'MRCut_MuJet[300.]','RCut_MuJet[0.15]',
	   	      'BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj1b_MuJet[-900.05]', 'R0_TTj1b_MuJet[-0.7]', 'b_TTj1b_MuJet[1.4]', 'n_TTj1b_MuJet[3.7]',
           	      'MR0_TTj2b_MuJet[-480.84]', 'R0_TTj2b_MuJet[-0.5]', 'b_TTj2b_MuJet[1.6]', 'n_TTj2b_MuJet[4.]']
combine_pdfs = ['RooRazor3DBinPdf::MuJet_TTj1b(th1x,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b,MRCut_MuJet,RCut_MuJet,BtagCut_TTj1b,emptyHist3D)',
		'RooRazor3DBinPdf::MuJet_TTj2b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_MuJet,RCut_MuJet,BtagCut_TTj2b,emptyHist3D)',
	   	'RooRazor3DBinPdf::MuJet_TTj3b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_MuJet,RCut_MuJet,BtagCut_TTj3b,emptyHist3D)']
	
#signal and plotting binning
#signal_MR =  [300, 350, 400, 450, 500, 550, 600, 650, 700, 800, 900, 1000, 1200, 1600, 2000, 2500, 4000]
#signal_Rsq = [0.15, 0.20,0.25,0.30,0.35,0.41,0.52,0.64,0.80,1.1,1.5]
#signal_nBtag = [1.,2.,3.,4.]
signal_MR =  [300, 400, 500, 600, 700, 900, 1200, 1600, 4000]
signal_Rsq = [0.15,0.20,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [1.,2.,3.,4.]


[EleJet]
variables = ['MR[300.,300.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[1.,1.,4.]']

variables_range = ['MR_LowRsq[300.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		   'MR_LowMR[300.,400.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		   'MR_HighMR[300.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[1.,4.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'R1_TTj1b[0.87,0.25,1.5]', 'R2_TTj1b[0.06,0,+INF]',
              'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,1)',
	'RooSigmoid::rsqPdf_TTj1b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj2b(Rsq,R1_TTj1b,R2_TTj1b)',
	'RooSigmoid::rsqPdf_TTj3b(Rsq,R1_TTj1b,R2_TTj1b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['EleJet_TTj1b_norm[1.,0.,+INF]',
           	      'EleJet_TTj2b_norm[1.,0.,+INF]',
           	      'EleJet_TTj3b_norm[1.,0.,+INF]',
	   	      'MRCut_EleJet[300.]','RCut_EleJet[0.15]',
	   	      'BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj1b_EleJet[-900.05]', 'R0_TTj1b_EleJet[-0.7]', 'b_TTj1b_EleJet[1.4]', 'n_TTj1b_EleJet[3.7]',
           	      'MR0_TTj2b_EleJet[-480.84]', 'R0_TTj2b_EleJet[-0.5]', 'b_TTj2b_EleJet[1.6]', 'n_TTj2b_EleJet[4.]']
combine_pdfs = ['RooRazor3DBinPdf::EleJet_TTj1b(th1x,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b,MRCut_EleJet,RCut_EleJet,BtagCut_TTj1b,emptyHist3D)',
		'RooRazor3DBinPdf::EleJet_TTj2b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_EleJet,RCut_EleJet,BtagCut_TTj2b,emptyHist3D)',
	   	'RooRazor3DBinPdf::EleJet_TTj3b(th1x,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b,MRCut_EleJet,RCut_EleJet,BtagCut_TTj3b,emptyHist3D)']
	
#signal and plotting binning
#signal_MR =  [300, 350, 400, 450, 500, 550, 600, 650, 700, 800, 900, 1000, 1200, 1600, 2000, 2500, 4000]
#signal_Rsq = [0.15, 0.20,0.25,0.30,0.35,0.41,0.52,0.64,0.80,1.1,1.5]
#signal_nBtag = [1.,2.,3.,4.]
signal_MR =  [300, 400, 500, 600, 700, 900, 1200, 1600, 4000]
signal_Rsq = [0.15,0.20,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [1.,2.,3.,4.]

